<section class="vbox">
    <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
        <div class="navbar-header aside bg-success dk">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                <i class="icon-list"></i>
            </a>
            <a href="index.html" class="navbar-brand text-lt">
                <i class="icon-earphones"></i>
                <img src="static/MusikTemplate/images/logo.png" alt="." class="hide">
                <span ng-show="showTitles"
                      ng-class="{'hidden-nav-xs m-l-sm': true, 'animated fadeIn': showTitles}">Sylwester</span>
            </a>
            <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                <i class="icon-settings"></i>
            </a>
        </div>
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <a ng-click="showbar()" href=".navbar-header,#nav" data-toggle="class:nav-xs,nav-xs" class="text-muted">
                    <i class="fa fa-indent text"></i>
                    <i class="fa fa-dedent text-active"></i>
                </a>
            </li>
        </ul>
        <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search" ng-submit="searchsongs()">
            <div class="form-group">
                <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
                    <input ng-model="searchterm" type="text" class="form-control input-sm no-border rounded"
                           placeholder="Search songs">
                </div>
            </div>
        </form>
        <div class="navbar-right ">
            <ul class="nav navbar-nav m-n hidden-xs nav-user user">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{ backendurl + user.get_avatar}}" alt="...">
              </span>
                        {{ user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <aside class="bg-black dk aside hidden-print" id="nav">
                <section class="vbox">
                    <section class="w-f-md scrollable">
                        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                             data-size="10px" data-railOpacity="0.2">


                            <!-- nav -->
                            <nav class="nav-primary hidden-xs">
                                <ul class="nav bg clearfix">
                                    <li>
                                        <a ng-click="disconnect()" ng-href="#/index">
                                            <i class="icon-disc icon text-success"></i>
                                            <span ng-show="showTitles"
                                                  ng-class="{'font-bold': true, 'animated fadeIn': showTitles}">What's new</span>
                                            <span class="navtitle" ng-hide="showTitles"> </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="disconnect()" ng-href="#/chat">
                                            <i class="fa fa-comments-o text-success"></i>
                                            <span ng-show="showTitles"
                                                  ng-class="{'font-bold': true, 'animated fadeIn': showTitles}">Chat</span>
                                            <span class="navtitle" ng-hide="showTitles"> </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="disconnect()" ng-href="#/allplaylists">
                                            <i class="icon-list icon  text-success"></i>
                                            <span ng-class="{'font-bold': true, 'animated fadeIn': showTitles}"
                                                  ng-show="showTitles"
                                                  ng-class="{'animated': showTitles}">Playlists</span>
                                            <span class="navtitle" ng-hide="showTitles"> </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="disconnect()" ng-href="#/add">
                                            <i class="icon-cloud-upload icon  text-success"></i>
                                            <span ng-class="{'font-bold': true, 'animated fadeIn': showTitles}"
                                                  ng-show="showTitles">Add Song</span>
                                            <span class="navtitle" ng-hide="showTitles"> </span>
                                        </a>
                                    </li>
                                    <li class="m-b hidden-nav-xs"></li>
                                </ul>
                                <ul class="nav text-md">
                                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                                            <span ng-show="showTitles" class="pull-right"><a ng-click="disconnect()"
                                                                                             href="#/newplaylist"><i
                                                    class="icon-plus i-lg"></i></a></span>
                                        Playlists
                                    </li>

                                    <li ng-repeat="playlist in myplaylists">
                                        <a ng-click="disconnect()" ng-href="#/listen/{{ playlist.id }}">
                                            <i class="icon-music-tone icon"></i>
                                            <span ng-show="showTitles"
                                                  ng-class="{'navtitle-show': true,'animated fadeIn': showTitles}"
                                                  limit>{{ playlist.name }}</span>
                                            <span class="navtitle" ng-hide="showTitles"> </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- / nav -->
                        </div>
                    </section>
                </section>
            </aside>
            <!-- /.aside -->
            <section id="content">
                <section class="vbox">
                    <section class="scrollable wrapper-lg">
                        <form ng-submit="send()">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="form-group wrapper-sm">
                                        <input placeholder="Title" ng-model="title"
                                               class="form-control rounded input-lg text-center no-border">
                                    </div>
                                    <div class="form-group wrapper-sm">
                                        <input ng-model="artist" placeholder="Artist"
                                               class="form-control rounded input-lg text-center no-border">
                                    </div>
                                    <div class="form-group wrapper-sm">
                                        <input ng-model="link" placeholder="Link"
                                               class="form-control rounded input-lg text-center no-border" hel>

                                        <p class="help-block wrapper-sm">Youtube/soundcloud</p>
                                    </div>
                                    <div class="form-group wrapper-sm">
                                        <button class="form-control rounded input-lg text-center no-border dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span class="form-switcher">Playlist {{ chosenplaylist.name }}<span
                                                    class="caret"></span></span></button>
                                        <ul class="dropdown-menu playlistmenu-lg animated flipInX text-dark-lter">

                                            <li ng-repeat="p in myplaylists" ng-init="$parent.chosenplaylist=myplaylists[0]">
                                                <a ng-click="$parent.chosenplaylist=p"> {{ p.name }} </a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>

                            </div>
                            <div class="row" ng-show="showIndicator">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="alert alert-info rounded center text-center" role="alert">
                                        <strong>Mmmmhhhmmmm... </strong> Doing my best to find this track
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="formError">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="alert alert-danger rounded center text-center" role="alert">
                                        <strong>Oh snap!</strong> {{ formError }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <button type="submit" ng-disabled="showIndicator"
                                            class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded no-border">
                                        <i class="icon-arrow-right pull-right"></i><span
                                            class="m-r-n-lg">Send song</span>
                                    </button>

                                </div>
                                <div class="col-sm-1">
                                    <indicator showindicator="showIndicator"></indicator>
                                </div>
                            </div>
                        </form>

                    </section>
                </section>
            </section>
            <aside class="aside-md bg-light dk" id="sidebar">
                <section class="vbox animated fadeInRight">
                    <section class="w-f-md scrollable hover">
                        <h4 class="font-thin m-l-md m-t">Connected</h4>
                        <ul class="list-group no-bg no-borders auto m-t-n-xxs">
                            <li class="list-group-item" ng-repeat="user in usersOnline">
                                <useronindexpage user="user" backendurl="backendurl"></useronindexpage>
                            </li>

                        </ul>
                    </section>
                    <footer class="footer footer-md bg-black">
                        <form class="" role="search">
                            <div class="form-group clearfix m-b-none">
                                <div class="input-group m-t m-b">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-sm bg-empty text-muted btn-icon"><i
                                  class="fa fa-search"></i></button>
                        </span>
                                    <input type="text"
                                           class="form-control input-sm text-white bg-empty b-b b-dark no-border"
                                           placeholder="Search members">
                                </div>
                            </div>
                        </form>
                    </footer>
                </section>
            </aside>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"
               data-target="#nav,html"></a>
        </section>
    </section>
</section>
